#app {
  display: flex;
  flex-direction: row;
}

.menu-container {
  margin: 10px 120px 0 0;
  position: relative;
}

.menuButton {
  border: 1px solid black;
  width: 80px;
  text-align: center;
  cursor: pointer;
}

@mixin menuBase {
  width: 150px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu {
  @include menuBase;

}

.submenu {
  @include menuBase;
  display: none;
  top: 0;
  left: 100%
}


.separator {
  padding: 0 15px;
  margin: 3px;
  height: 1px;
  background-color: black;
}