.dropDownMenu {
  position: relative;
  margin: 5px;
}

.dropDownButton {
  border: solid 1px black;
  padding: 1px 5px;
  cursor: pointer;
}

.dropDownList {
  border: solid 1px black;
  position: absolute;
  width: 100px;
  text-align: center;
  background-color: aliceblue;
  cursor: pointer;
}
