.itemContainer {
  background-color: gainsboro;
  margin: 5px;
  padding: 5px;
}

.icons {
  display: flex;
  flex-direction: row;
}

.comment {
  margin-left: 5vh;
}

.clapDate {
  display: flex;
  flex-direction: row;
  padding: 5px 10vh;
  justify-content: space-between;

}

.clapContainer {
  display: flex;
  flex-direction: row;
}

.clapButton {
  margin-right: 10px;
}

.clapDetails {
  position: relative;
}

.clapCounts {
  margin: 0;
}

.clapUser {
  display: none;
  position: absolute;
  background-color: wheat;
  top: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  width: auto;
  padding: 5px 10px;
  white-space: nowrap;
}

.clapCounts:hover + .clapUser{
  display: block;
}
