.formContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5px;
}

.input {
  height: 10vh;
  width: 60vw;
}

.inputButton {
  background-color: lightyellow;
  margin: 5px;
  padding: 1px;
  height: 3vh;
  width: 10vh;
  cursor: pointer;
}
